<div id="style-margin">
	<div class="container"><!-- container -->
		<h1>Update staff<%= link_to "Back", staff_path(@staff), class: "btn btn-success pull-right" %></h1><hr/>
		<div class="col-md-8 col-md-offset-2">		
			<%= render "form" %>
		</div>
	</div>
</div>					