<h1>Timings#new</h1>
<p>Find me in app/views/timings/new.html.erb</p>

<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>		
				<th></th>
				<th> 9-10 </th>
				<th> 10-11 </th>
				<th> 11-12 </th>
				<th> 1-2 </th>
				<th> 2-3 </th>
			</tr>	
		</thead>
		<tbody>
			<% form_for @time_table do |f| %>
				<tr>
					<td>Mon</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Tus</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Wed</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Thus</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Fri</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>		
		</tbody>
	</table>	
</div>