<div id="style-margin">
	<div class="container"><!-- container -->
		<h1>Add batch<%= link_to "Back", batches_path, class: "btn btn-success pull-right" %></h1><hr/>
		<div class="col-md-8 col-md-offset-2">	
				<%= render "form" %>
		</div>
	</div>
</div>				